<nav class="w-full">
    <div class="bg-[#F7F7F7] w-full text-black md:flex px-10 py-2 justify-between hidden" >
        <div class="text-black">
            <span class="flex items-center gap-2"><img src="../../../assets/user.png" alt=""><a href="">Member Portal</a></span>
        </div>
        <div class="flex items-center gap-2">
            <span><a href="">Follow Us</a></span>
            <span><a href=""><img src="../../../assets/instagram.png" alt=""></a></span>
            <span><a href=""><img src="../../../assets/fi_facebook.png" alt="" srcset=""></a></span>
            <span><a href="">Rewards Login</a></span>
        </div>
    </div>
    <div class="justify-between items-center w-[80%] mx-auto py-2 hidden lg:flex">
    <ul class="flex gap-3">
        <li>
            <a href="">
                <select name="" id="">
                    <option value="">About us</option>
                </select>
            </a>
        </li>
        <li>
            <a href="">
                <select name="" id="">
                    <option value="">Franchising</option>
                </select>
            </a>
        </li>
        <li>
            <a href="">
                <select name="" id="">
                    <option value="">Products</option>
                </select>
            </a>
        </li>
    </ul>
    <div>
       <a href=""><img src="../../../assets/logo.png" alt="" srcset=""></a> 
    </div>
    <ul class="flex gap-3">
        <li>
            <a href="">
                <select name="" id="">
                    <option value="">Promotions</option>
                </select>
            </a>
        </li>
        <li>
            <a href="">
                Find Stores
            </a>
        </li>
        <li>
            <a href="">
                <select name="" id="">
                    <option value="">Contact Us</option>
                </select>
            </a>
        </li>
    </ul>
</div>
<div class="flex px-3 py-2 justify-between items-center lg:hidden">
    <div>
        <a href=""><img class="w-20" src="../../../assets/logo.png" alt="" srcset=""></a>
    </div>
    <div>
        <img class="w-10" src="../../../assets/burger-menu-right-svgrepo-com.svg" alt="" srcset="">
    </div>
</div>
</nav>
