<footer class="w-full h-auto bg-[#F7F7F7] px-10">
<div class="flex pt-10 pb-6 gap-4 items-start flex-col md:flex-row">
    <div class="md:basis-[60%] basis-[100%]">
        <div class="flex items-center gap-6">
            <div>
                <img src="assets/images/footer-logo1.png" alt="Image 1" width="150" height="60"> 
            </div>
            <div>
                <img src="assets/images/footerlogo2.png" alt="Image 1" width="150" height="60">
            </div>
            <div>
                <img src="assets/images/footerlogo3.png" alt="Image 1" width="150" height="60">
            </div>
        </div>
       
        <div>
            <ul class="">
            <h6 class="text-base md:text-lg font-normal">Head Office</h6>
            <li><a href="#" class="text-xs">A. PO Box 3202, Newstead, Qld 4006</a></li>
            <li><a href="#" class="text-xs">P. 1800 NEXTRA (639 872)</a></li>
            <li><a href="#" class="text-xs">F. (07) 3902 4580</a></li>
        </ul>
        </div>
    </div>
    <div class="md:basis-[40%] basis-[100%] flex gap-10 md:justify-between items-center">
        <div>
    <ul class="list-none leading-8">
        <h6 class="text-base md:text-lg font-normal mb-4">Quick Links</h6>
        <li><a href="#" class="text-xs">Home</a></li>
        <li><a href="#" class="text-xs">About Us</a></li>
        <li><a href="#" class="text-xs">Products</a></li>
        <li><a href="#" class="text-xs">Franchising</a></li>
    </ul>
</div>
<div>
    <ul class="list-none mt-11 leading-8">
        <li><a href="#" class="text-xs">Careers</a></li>
        <li><a href="#" class="text-xs">Store Locator</a></li>
        <li><a href="#" class="text-xs">Rewards</a></li>
        <li><a href="#" class="text-xs">Contact Us</a></li>
    </ul>
</div>
    <div class="">
        <h6 class="text-lg font-normal mb-4">Follow Us</h6>
        <div class="flex items-center gap-2">
            <a href=""><img src="../../../assets/instagram.png" alt="" srcset=""></a>
            <a href=""><img src="../../../assets/fi_facebook.png" alt="" srcset=""></a>
        </div>
    </div>
</div>
</div>
<hr>
<div class="flex justify-center py-2 md:py-4 ">
    <p class="flex text-[10px] md:text-base">2023 Copyright Nextra Australia Pty Ltd | All rights reserved |<span class="flex gap-0 md:gap-1"> Made by Xenex <img class="w-3 md:w-auto" src="../../../assets/Frame.png" alt="" srcset=""></span> </p>
</div>
</footer>
